<ul class="fields" as-sortable="dragControlListeners" ng-model="interesting_fields">
  <li ng-repeat="field in interesting_fields" as-sortable-item class="as-sortable-item">
    <div class="index">{{$index + 1}}</div>
    <!-- <div class="fa fa-bars" as-sortable-item-handle></div> -->
    <div class="name">{{field.name_pretty}}
      <br ng-if="field.reverse" />
      <span ng-if="field.reverse" class="small">
        lower is better
      </span>
    </div>
    <rzslider rz-slider-floor="field.min" rz-slider-ceil="field.max" step="1" rz-slider-model="sliders[field.name]">
      <div class="fin">data</div>
    </rzslider>
  </li>
</ul>
